@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: rgb(235, 242, 254);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 17, 83);
}

.Title, .ModelListTitle, .OwnerListTitle, .TrainingListTitle, .AttestationListTitle {
  color: rgb(26, 17, 83);
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  transition: color 0.3s ease-in-out;
}

.Title { left: 2.5%; top: 2.5%; }
.ModelListTitle { left: 10%; top: 45%; }
.OwnerListTitle { left: 10%; font-size: 20px; top: 13%; }
.TrainingListTitle { left: 37.5%; font-size: 20px; top: 13%; }
.AttestationListTitle { left: 65%; font-size: 20px; top: 13%; }

.ModelList, .OwnerList, .PerformerList, .AttestationList {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ModelList { width: 80%; height: 40%; left: 10%; top: 56%; font-size: 30px; }
.OwnerList, .PerformerList, .AttestationList {
  width: 25%; height: 20%; font-size: 30px;
}
.OwnerList { left: 10%; top: 20%; }
.PerformerList { left: 37.5%; top: 20%; }
.AttestationList { left: 65%; top: 20%; }

.NewModel, .ConnectWalletButton {
  background-color: rgb(26, 17, 83);
  color: white;
  font-size: 20px;
  position: absolute;
  border: none;
  shadow: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.NewModel {
  right: 9%; width: 15%; height: 5%;
}

.ConnectWalletButton {
  right: 9%; top: 5%; width: 12%; height: 5%;
}

.ConnectWalletButton.connected {
  width: 32%;
}

.ModelList .Model, .OwnerList .Model, .PerformerList .Model, .AttestationList .Model {
  background-color: rgb(255, 255, 255);
  width: 100%;
  flex: 1 0 20%;
  margin: 5px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 17, 83);
  font-size: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ModelList .Model:hover, .OwnerList .Model:hover, .PerformerList .Model:hover, .AttestationList .Model:hover {
  background-color: rgba(235, 242, 254, 0.8);
  transform: scale(1.02);
}

.NewModel:hover, .ConnectWalletButton:hover {
  background-color: rgb(40, 30, 120);
  transform: scale(1.02);
}