@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App-header {
  background-color: rgb(235, 242, 254);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 17, 83);
}

.Title {
  color: rgb(26, 17, 83);
  position: absolute;
  font-size: 30px;
  left:2.5%;
  top: 2.5%;
}

.ModelListTitle {
  color: rgb(26, 17, 83);
  font-weight: 100;
  left: 10%;
  font-size: 30px;
  position: absolute;
  top: 45%;
}

.OwnerListTitle {
  color: rgb(26, 17, 83);
  left: 10%;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  top: 13%;
}

.TrainingListTitle {
  color: rgb(26, 17, 83);
  left: 37.5%;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  top: 13%;
}

.AttestationListTitle {
  color: rgb(26, 17, 83);
  left: 65%;
  font-weight: 100;
  font-size: 20px;
  position: absolute;
  top: 13%;
}

.ModelList {
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 40%;
  left: 10%;
  font-size: 30px;
  position: absolute;
  top: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.OwnerList {
  background-color: rgb(255, 255, 255);
  width: 25%;
  height: 20%;
  left: 10%;
  font-size: 30px;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.PerformerList {
  background-color: rgb(255, 255, 255);
  width: 25%;
  height: 20%;
  left: 37.5%;
  font-size: 30px;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AttestationList {
  background-color: rgb(255, 255, 255);
  width: 25%;
  height: 20%;
  left: 65%;
  font-size: 30px;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.NewModel {
  background-color: rgb(26, 17, 83);
  right: 9%;
  font-size: 20px;
  position: absolute;
  color: white;
  width: 15%;
  height: 5%;
  border: none;
  shadow: none;
}

.ModelList .Model, .OwnerList .Model, .PerformerList .Model, .AttestationList .Model {
  background-color: rgb(255, 255, 255);
  width: 100%;
  flex: 1 0 20%;
  margin: 5px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 17, 83);
  font-size: 20px;
  box-sizing: border-box;
}

.ConnectWalletButton.connected {
  width: 32%;
}

.ConnectWalletButton {
  background-color: rgb(26, 17, 83);
  right: 9%;
  top: 5%;
  font-size: 20px;
  position: absolute;
  color: white;
  width: 12%;
  height: 5%;
  border: none;
  shadow: none;
}
